{{ if .Site.Data.content.Education }}
<div id="education" class="section">
    <div class="section__heading">
        <h2 class="section__title">
            Formations
        </h2>
    </div>
    <div class="section__content">
        {{ range .Site.Data.content.Education }}
            <div class="education__item">
                <h3 class="education__title">{{ .Course | safeHTML }}</h3>
                <h4 class="education__place">{{ .Place | safeHTML }}</h4>
                <h4 class="education__date">{{ .Date | safeHTML }}</h4>
                <div class="education__description">{{ .Details | safeHTML }}</div>
                </br>
            </div>
        {{ end }}
    </div>
</div>
{{ end }}
