{{ if .Site.Data.content.Skills }}
<div class="sideSection">
    <div class="sideSection__heading">
        <h2 class="sideSection__title">Compétences</h2>
    </div>
    <div class="sideSection__content">
        <ul class="skills">
            <li>
                {{ range .Site.Data.content.Skills }}
                <ul class="skills__group">
                    <span>{{ .Family | safeHTML }}</span>
                    {{ range .Items }}
                    <li>{{ . | safeHTML }}</li>
                    {{ end }}
                </ul>
                {{ end }}
            </li>
        </ul>
    </div>
</div>
{{ end }}
